{{#accordion.item as |accordionItem|}}
  <div class='inner-yaml-container'>
    {{#if fileUrl}}
      {{#external-link-to href=fileUrl}}
        {{svg-jar 'icon-external-link' class='icon-link'}}
      {{/external-link-to}}
    {{/if}}
    {{#accordionItem.toggle}}
      <div class='file-name'>
        <span class='vertical-align'>{{filePath}}</span>
        {{svg-jar 'icon-dropdown-arrow' class='icon-arrow'}}
      </div>
    {{/accordionItem.toggle}}
    {{#accordionItem.panel}}
    <div class='position-relative'>
      {{#code-block data-test-yaml language='yaml' class='codedisplay'}}
        {{rawConfig.config}}
      {{/code-block}}
      {{#copy-button
        clipboardText=rawConfig.config
        title=buttonLabel
        success=(action 'copied' rawConfig.source)}}
        {{svg-jar 'icon-copy' class='icon'}} <span>{{buttonLabel}}</span>
      {{/copy-button}}
    </div>
  {{/accordionItem.panel}}
</div>
{{/accordion.item}}